*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #5a7184;
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: ease .40s;
	background-color: rgb(67, 95, 187);
}
.logo{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
}
.navbar{
	display: flex;
	
}
.navbar a{
	color: var(--bg-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover{
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}
#menu-icon{
	color: var(--bg-color);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 80px 18%;
}
/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 50px; /* Laisse de l'espace pour le header fixe */
}

/* Style du titre de la section Destination */
.destination .title h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Style des contenus de destination */
.destination-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-content {
    flex: 0 0 calc(33.333% - 20px); /* Trois colonnes par ligne avec un espace de 20px entre elles */
    margin: 10px; /* Espace entre les colonnes */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px; /* Hauteur fixe pour les éléments .col-content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste l'image dans l'élément tout en conservant ses proportions */
    border-radius: 5px;
}


.col-content h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.col-content p {
    font-size: 1rem;
    color: #888;
}
